:root {
  /* color var */
  --nav-color: #dfdad6;
  --navborder-color: #836d5a;
  --text-color: #a98e78;
  --btn-start-color: #fbe1ae;
  --pure: white;
  --dark: black;
}

/* commen CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body {
  color: var(--text-color);
  background-color: var(--dark);
}

hr {
  height: 4px;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  border-right: none;
  border-left: none;
}

.max-width {
  max-width: 1530px;
  padding: 40px 80px;
  margin: auto;
}

.nav-max-width {
  max-width: 1300px;
  margin: 0 auto;
}

/* text commen css */

.title {
  font-weight: 500;
  font-size: 2.2rem;
}

.title-ptrn-img{
  text-align: center;
}

.combine-content-text {
  font-size: 1.1rem;
}

.contact-content-text {
  font-size: 1.23rem;
}

.combine-child {
  margin: 10px;
}

.jewelry .jewelry-picture {
  transform: scale(0.9, 0.9);
}

/* header section style */

/* comapany logo style */

header {
  padding: 1rem 0;
}

header #logo {
  margin-bottom: 0.5rem;
}

header #logo img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

/* navbar css*/

.navbar {
  border-top: 2px solid var(--navborder-color);
  border-bottom: 2px solid var(--navborder-color);
  padding: 1.2rem 0;
  width: 100%;
}

.navbar #toggle,
.navbar #toggle-btn-img {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.navbar .nav-item {
  list-style: none;
  text-align: center;
  border-right: 1px solid rgb(192, 192, 192);
  width: 20%;
}

.navbar .nav-item:last-child {
  border-right: none;
}

.navbar .nav-item a {
  font-size: 1.5rem;
  color: var(--pure);
}

.navbar .nav-item a:hover {
  color: var(--text-color);
}

/* home section cover image css*/

.home #home-banner {
  width: 100%;
  height: 100%;
  max-height: 70vh;
}

/* combine section css */

.combine-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.combine-child {
  text-align: center;
  line-height: 2;
  flex: 1 1 300px;
}

.combine .combine-content-text {
  margin-bottom: 1rem;
  max-height: 270px;
  overflow-y: hidden;
}

/* read-more btn css */

.combine .combine-child .btn .read-more-btn {
  background: linear-gradient(to bottom, #ffffff 5%, #eae0c2 100%);
  background-color: #ffffff;
  border-radius: 0.94rem;
  border: 2px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: var(--dark);
  font-family: Verdana;
  font-size: 0.94rem;
  font-weight: bold;
  padding: 0.4rem 1.88rem;
  text-decoration: none;
}

.combine .combine-child .btn .read-more-btn:hover {
  background: linear-gradient(to bottom, #eae0c2 5%, #ffffff 100%);
  background-color: #eae0c2;
}

.combine .combine-child .btn .read-more-btn:active {
  position: relative;
  top: 1px;
}

/* contact section css */

.contact-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contact .contact-child {
  text-align: center;
}

.contact .contact-content-text {
  flex: 1 1 570px;
  line-height: 1.8;
  text-align: justify;
}

.contact .contact-img {
  flex: 1 1 270px;
}

/* footer section css */

footer {
  margin-top: 1rem;
  padding-bottom: 0.3rem;
  background-color: #0b0b0b;
}

.footer-sub-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.footer-sub-menu li a {
  font-size: 1rem;
  color: var(--text-color);
  margin: 0 1vw;
}

.footer-sub-menu li a:hover {
  color: var(--pure);
}

footer .footer-copyright {
  text-align: center;
  margin-top: 0.7rem;
}

footer .footer-copyright p span {
  color: var(--pure);
}

/* Big screen view */
@media only screen and (max-width: 1400px) {
  .navbar .nav-item a {
    font-size: 1.2rem;
  }

  .title {
    font-size: 2rem;
  }

  .combine-content-text {
    font-size: 1rem;
  }

  .contact-content-text {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 1300px) {
  /* commen CSS */
  .max-width {
    max-width: 1400px;
    padding: 40px 60px;
    margin: auto;
  }
}

/* Laptop view */
@media only screen and (max-width: 1024px) {
  /* commen CSS */

  .max-width {
    max-width: 1400px;
    padding: 40px 50px;
    margin: auto;
  }
}

/* Tablet view */
@media only screen and (max-width: 900px) {
  /* commen CSS */
  .max-width {
    max-width: 1400px;
    padding: 40px;
    margin: auto;
  }
}

/* mobile view */
@media only screen and (max-width: 720px) {
  /* commen CSS */
  .max-width {
    padding: 40px 30px;
  }

  /* navbar toggle btn css*/
  .navbar {
    padding: 1.5rem 0;
    border-top: none;
  }

  .nav-container {
    display: none;
  }

  .navbar .nav-item {
    border: none;
    line-height: 1.7;
  }

  .navbar #toggle {
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0;
    display: block;
    position: absolute;
    left: 1rem;
    top: 5.5rem;
    z-index: 2;
  }

  .navbar #toggle-btn-img {
    display: block;
    position: absolute;
    left: 1rem;
    top: 5.5rem;
  }

  .navbar #toggle:checked ~ .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* mobile view */
@media only screen and (max-width: 510px) {
  .max-width {
    padding: 40px 20px;
  }
}
